.container{
    position: relative;
    display: flex;
    flex-direction: column;
    background-clip: border-box;
    border: 1px solid;
    width: 80%;
    margin-top:20px;
    padding: 10px;
    text-align: center;
}
.card{
    width: 300px;
margin: 30px; 
padding: 10px;
}
.card img {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}




